header {
	font-family: Brush Script MT;
	font-size: 2rem;
	text-align: center;
}

body {

}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black dashed;
    margin: 3% 5% 1% 5%;
}

.img {
	width: 75%;
	margin: 5%;
	border: 2px black solid;
	padding: 20px;
}

.title-container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border: 1px black dashed;
    margin: 1% 5% 0.4% 5%;
}

.img-title-text {
	margin: 0 auto;
	font-family: Calibri;
	font-weight: strong;
	font-size: 1.5rem;
}


.desc-container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    border: 1px black dashed;
    margin: 0% 5% 5% 5%;
}

.img-desc-text {
	margin: 0 auto;
	font-family: Calibri;
	font-weight: strong;
	font-size: 1rem;
	justify-content: left;
}

.yt-container {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 1% 5%;
}

.map-container {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 5% 1% 5%;
}

footer {
	display: flex;
    align-items: center;
    justify-content: center;
    border: 1px black dashed;
    margin: 10% 5% 1% 5%;
}

li {
	display: inline;
	list-style: none;
	margin: 10%;
}

.sc-img {
	width: 35px;
}
